main .form-control {
  max-width: 700px;
  margin: 0 auto;
  row-gap: 10px !important;
}
main input, main textarea {
  margin: 5px 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
main button, main .btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: #47535d;
  color: white;
  float: right;
}
main button:hover {
  opacity: 0.6;
}
main .tox-tinymce {
  margin-top: 5px !important;
  border-radius: 0 !important;
}
main .delete-btn {
  background-color: red;
}
main .delete-btn:hover {
  opacity: 0.6;
}
main .btn-sm {
  padding: 7px;
  font-size: 15px;
}
