.img-carousel {
  transition: 2s ease-in-out;
  max-width: 660px;
  max-height: 270px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  display: flex;
  justify-content: center;
}
