main{
    .form-control {
        max-width: 700px;
        margin: 0 auto;
        row-gap: 10px !important;
    }
    .invalid-feedback {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: #dc3545;
    }
    input, textarea {
        margin: 5px 0;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    button, .btn {
        text-decoration: none;
        cursor: pointer;
        border: none;
        padding: 10px;
        font-size: 16px;
        background-color: #47535d;
        color: white;
        float: right;
    }
    button:hover{
        opacity: 0.6;
    }
    .tox-tinymce{
        margin-top: 5px !important;
        border-radius: 0 !important;
    }
    .delete-btn{
        background-color: red;
    }
    .delete-btn:hover{
        opacity: 0.6;
    }
    .btn-sm{
        padding: 7px;
        font-size: 15px;
    }

}
