.form-voluntarios{
    max-width: 500px;
    margin: 0 auto;
    input{
        margin: 5px 0;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
    button{
        border: none;
        padding: 10px;
        font-size: 16px;
        background-color: #47535d;
        color: white;
        float: right;
    }
    row-gap: 10px !important;
}
p{
    margin-bottom: 30px;
}
