.form-control {
    max-width: 500px;
    margin: 0 auto;

    input, textarea {
        margin: 5px 0;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    button {
        cursor: pointer;
        border: none;
        padding: 10px;
        font-size: 16px;
        background-color: #47535d;
        color: white;
        float: right;
    }
    button:hover{
        opacity: 0.8;
    }

    row-gap: 10px !important;
}
