@import "breakpoints";
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

@mixin col-6 {
    grid-column: span 6;
}

@mixin col-3 {
    grid-column: span 3;
}

@mixin col-4 {
    grid-column: span 4;
}


@mixin col-8 {
    grid-column: span 8;
}

@mixin col-12 {
    grid-column: span 12;
}

.col-3 {
    @include col-3;
}
.col-4 {
    @include col-4;
}
.col-6 {
    @include col-6;
}
.col-8 {
    @include col-8;
}
.col-12 {
    @include col-12;
}
@include media-breakpoint-up(md) {
    .col-md-3 {
        @include col-3;
    }
    .col-md-4 {
        @include col-4;
    }
    .col-md-6 {
        @include col-6;
    }
    .col-md-8 {
        @include col-8;
    }
    .col-md-12 {
        @include col-12;
    }
}
@include media-breakpoint-up(lg) {
    .col-lg-3 {
        @include col-3;
    }
    .col-lg-4 {
        @include col-4;
    }
    .col-lg-6 {
        @include col-6;
    }
    .col-lg-8 {
        @include col-8;
    }
    .col-lg-12 {
        @include col-12;
    }
}
@include media-breakpoint-up(xl) {
    .col-xl-3 {
        @include col-3;
    }
    .col-xl-4 {
        @include col-4;
    }
    .col-xl-6 {
        @include col-6;
    }
    .col-xl-8 {
        @include col-8;
    }
    .col-xl-12 {
        @include col-12;
    }
}
.mt-30{
    margin-top: 30px;
}
